In [ ]:
from functools import partial
from astroquery.simbad import Simbad
import pandasas pd

In [ ]:
nidever_table = pd.read_csv("../../Files/Spectroscopic Standards/Nidever et al 2002/Table 1.csv")

nidever_table = nidever_table[nidever_table["Days"] > 100]
nidever_table["ID"] = nidever_table["ID"].str.replace(r"\s+", " ", regex=True)

simbad = Simbad()
simbad.TIMEOUT = 120
simbad.add_votable_fields("ids")
simbad_result = simbad.query_objects(nidever_table["ID"]).to_pandas()

nidever_table

WARNING: BlankResponseWarning: Warning: The script line number 168 raised an error (recorded in the `errors` attribute of the result table): Identifier not found in the database : GJ 3709 B  [astroquery.simbad.core]
WARNING: BlankResponseWarning: Warning: The script line number 590 raised an error (recorded in the `errors` attribute of the result table): Identifier not found in the database : GJ 3897 B  [astroquery.simbad.core]

            ID      Alt ID Means       JD  Days     RV
50     HD 3861  HIP   3236   NSO  2451055   105 -14796
51   HD 209761  HIP 109023   NSO  2451443   105 -28712
52   HD 218792  HIP 114449   NSO  2451423   105   2548
53   HD 174947  HIP  92747   NSO  2451424   106  -7100
54   HD 218029  HIP 113864   NSO  2451427   106  -8708
..         ...         ...   ...      ...   ...    ...
777  HD 151288  HIP  82003     M  2450162  4746 -31357
778  HD 165222  HIP  88574     M  2450299  4747  32671
779   HD 95735  HIP  54035     M  2450213  4748 -84689
780   HD 19994  HIP  14954   NSO  2449069  4758  19331
781   HD 10700  HIP   8102   NSO  2449838  5053 -16619

[732 rows x 6 columns]

In [ ]:
def extract_id(id_list, id_name):
    for id in id_list.split("|"):
        if id_name in id:
            return id.replace(id_name, "").strip()
    return ""


simbad_result["HD"] = simbad_result["IDS"].apply(partial(extract_id, id_name="HD"))
simbad_result["TIC"] = simbad_result["IDS"].apply(partial(extract_id, id_name="TIC"))
simbad_result = simbad_result[
    (simbad_result["TIC"] > "") & (simbad_result["HD"] > "") & (simbad_result["RA"] > "") & (simbad_result["DEC"] > "")
].reset_index()

simbad_result.iloc[:15]

,index,MAIN_ID,RA,DEC,RA_PREC,DEC_PREC,COO_ERR_MAJA,COO_ERR_MINA,COO_ERR_ANGLE,COO_QUAL,COO_WAVELENGTH,COO_BIBCODE,IDS,SCRIPT_NUMBER_ID,HD,TIC
0,0,HD 3861,00 41 11.8740,+09 21 18.207,14,14,0.0240,0.0122,90,A,O,2020yCat.1350....0G,HD 3861|** SOZ 6A|AG+09 51|AGKR 554|A...,1,3861,401446825
1,1,HD 209761,22 05 11.3344,+26 40 25.285,14,14,0.0363,0.0385,90,A,O,2020yCat.1350....0G,HD 209761|AG+26 2637|BD+25 4671|GC 30887|GCRV...,2,209761,357256040
2,2,HD 218792,23 10 42.6370,+17 35 39.743,14,14,0.0405,0.0428,90,A,O,2020yCat.1350....0G,HD 218792|AG+17 2580|BD+16 4882|GC 32291|GCRV...,3,218792,97130650
3,3,* 33 Sgr,18 54 00.0880,-21 21 35.452,14,14,0.0680,0.0702,90,A,O,2020yCat.1350....0G,* 33 Sgr|BD-21 5176|GC 25914|GCRV 11343|GEN#...,4,174947,441960203
4,4,HD 218029,23 03 32.8824,+67 12 33.158,14,14,0.0486,0.0558,90,A,O,2020yCat.1350....0G,HD 218029|AG+66 1172|AP J23033292+6712329|BD+6...,5,218029,427550855
5,5,* ome01 Tau,04 09 09.9660,+19 36 33.181,14,14,0.0676,0.0416,90,A,O,2020yCat.1350....0G,LP 19-672|* 43 Tau|* ome01 Tau|AG+19 320|B...,6,26162,15904756
6,6,* h Aqr,23 52 50.5292,-08 59 48.328,14,14,0.0417,0.0315,90,A,O,2020yCat.1350....0G,* h Aqr|BD-09 6277|GC 33128|GCRV 14944|GEN# +...,7,223807,9710105
7,7,HD 2774,00 31 41.1571,+52 50 22.301,14,14,0.0320,0.0295,90,A,O,2020yCat.1350....0G,HD 2774|AG+52 53|BD+52 92|GC 614|GCRV...,8,2774,202715253
8,8,* 94 Psc,01 26 41.6791,+19 14 25.526,14,14,0.0843,0.0375,90,A,O,2020yCat.1350....0G,* 94 Psc|AG+18 116|AKARI-IRC-V1 J0126417+191...,9,8763,456868701
9,9,HD 223559,23 50 33.2847,-14 24 05.389,14,14,0.0766,0.0669,90,A,O,2020yCat.1350....0G,HD 223559|AP J23503327-1424053|BD-15 6507|GC ...,10,223559,228382044
10,11,HD 225216,00 04 41.9813,+67 09 59.202,14,14,0.0261,0.0281,90,A,O,2020yCat.1350....0G,HD 225216|AG+66 3|AP J00044199+6709592|BD+6...,12,225216,470913104
11,12,* 24 Per,02 59 03.6768,+35 10 59.271,14,14,0.1554,0.0910,90,A,O,2020yCat.1350....0G,* 24 Per|AG+34 305|AP J02590369+3510592|BD+3...,13,18449,269915301
12,13,HD 148467,16 27 56.9072,+07 18 19.596,14,14,0.0164,0.0129,90,A,O,2020yCat.1350....0G,G 17-18|AG+07 2052|ASCC 1052747|BD+07 3180|C...,14,148467,318946785
13,14,HD 197139,20 40 03.1592,+43 27 31.959,14,14,0.0191,0.0213,90,A,O,2020yCat.1350....0G,HD 197139|AG+43 1866|AP J20400317+4327320|BD+4...,15,197139,195376497
14,15,HD 169191,18 22 49.0396,+17 49 35.819,14,14,0.0426,0.0635,90,A,O,2020yCat.1350....0G,HD 169191|AG+17 1836|BD+17 3555|FK5 3460|GC 2...,16,169191,156974847

In [ ]:
targets_file = pd.DataFrame()
targets_file["Target Name"] = [f"HD {id}" for id in simbad_result["HD"]]
targets_file["RA"] = simbad_result["RA"].str.replace(" ", ":")
targets_file["DEC"] = simbad_result["DEC"].str.replace(" ", ":")
targets_file["Target Type"] = "RV Standard"
targets_file["Target Source"] = "Nidever 2002 https://arxiv.org/abs/astro-ph/0112477v2"
targets_file.to_csv("../../Data/Targets/Nidever et al 2002.csv", index=False)

targets_file

,Target Name,RA,DEC,Target Type,Target Source
0,HD 3861,00:41:11.8740,+09:21:18.207,RV Standard,Nidever 2002 https://arxiv.org/abs/astro-ph/01...
1,HD 209761,22:05:11.3344,+26:40:25.285,RV Standard,Nidever 2002 https://arxiv.org/abs/astro-ph/01...
2,HD 218792,23:10:42.6370,+17:35:39.743,RV Standard,Nidever 2002 https://arxiv.org/abs/astro-ph/01...
3,HD 174947,18:54:00.0880,-21:21:35.452,RV Standard,Nidever 2002 https://arxiv.org/abs/astro-ph/01...
4,HD 218029,23:03:32.8824,+67:12:33.158,RV Standard,Nidever 2002 https://arxiv.org/abs/astro-ph/01...
...,...,...,...,...,...
623,HD 151288,16:45:06.3505,+33:30:33.213,RV Standard,Nidever 2002 https://arxiv.org/abs/astro-ph/01...
624,HD 165222,18:05:07.5787,-03:01:52.749,RV Standard,Nidever 2002 https://arxiv.org/abs/astro-ph/01...
625,HD 95735,11:03:20.1948,+35:58:11.576,RV Standard,Nidever 2002 https://arxiv.org/abs/astro-ph/01...
626,HD 19994,03:12:46.4365,-01:11:45.955,RV Standard,Nidever 2002 https://arxiv.org/abs/astro-ph/01...
627,HD 10700,01:44:04.0831,-15:56:14.927,RV Standard,Nidever 2002 https://arxiv.org/abs/astro-ph/01...

In [ ]:
catalog_members = pd.DataFrame()
catalog_members["Target Name"] = [f"HD {id}" for id in simbad_result["HD"]]
catalog_members["Catalog Name"] = "TESS TICv8"
catalog_members["Catalog ID"] = simbad_result["TIC"]
catalog_members.to_csv("../../Data/Catalog Members/Nidever et al 2002.csv", index=False)

catalog_members

    Target Name Catalog Name Catalog ID
0       HD 3861   TESS TICv8  401446825
1     HD 209761   TESS TICv8  357256040
2     HD 218792   TESS TICv8   97130650
3     HD 174947   TESS TICv8  441960203
4     HD 218029   TESS TICv8  427550855
..          ...          ...        ...
623   HD 151288   TESS TICv8  224329387
624   HD 165222   TESS TICv8   41378014
625    HD 95735   TESS TICv8  166646191
626    HD 19994   TESS TICv8   49845357
627    HD 10700   TESS TICv8  419015728

[628 rows x 3 columns]

In [ ]:
nidever_table[nidever_table["ID"] == "HD 3861"]
# simbad_result[simbad_result["HD"] == "3861"]
# nidever_table.iloc[0]
# simbad_result.iloc[0]["HD"]
rv_standards#.sort_values("RV")

    Target Name Spectral Type       RV  RV err
0       HD 3861       unknown -14796.0     0.1
1     HD 209761       unknown -28712.0     0.1
2     HD 218792       unknown   2548.0     0.1
3     HD 174947       unknown  -7100.0     0.1
4     HD 218029       unknown  -8708.0     0.1
..          ...           ...      ...     ...
623   HD 151288       unknown      NaN     0.1
624   HD 165222       unknown      NaN     0.1
625    HD 95735       unknown      NaN     0.1
626    HD 19994       unknown      NaN     0.1
627    HD 10700       unknown      NaN     0.1

[628 rows x 4 columns]

In [ ]:
rv_standards = pd.DataFrame()
rv_standards["Target Name"] = [f"HD {id}" for id in simbad_result["HD"]]
rv_standards["Spectral Type"] = "unknown"
rv_standards["RV"] = rv_standards.merge(nidever_table[["ID", "RV"]], left_on="Target Name", right_on="ID", how="inner")["RV"]
rv_standards["RV err"] = 0.1
rv_standards = rv_standards[~rv_standards["RV"].isna()]
rv_standards.to_csv("../../Data/RV Calibration Targets/Nidever et al 2002.csv", index=False)

rv_standards

    Target Name Spectral Type       RV  RV err
0       HD 3861       unknown -14796.0     0.1
1     HD 209761       unknown -28712.0     0.1
2     HD 218792       unknown   2548.0     0.1
3     HD 174947       unknown  -7100.0     0.1
4     HD 218029       unknown  -8708.0     0.1
..          ...           ...      ...     ...
612    HD 12235       unknown -31357.0     0.1
613   HD 185144       unknown  32671.0     0.1
614     HD 4614       unknown -84689.0     0.1
615    HD 17925       unknown  19331.0     0.1
616    HD 25680       unknown -16619.0     0.1

[617 rows x 4 columns]

In [72]:
table=pd.read_fwf("../../Files/Spectroscopic Standards/Gaia DR2 RV Stars/rvstdcat.dat")
table.columns=[
    "ID",
    "RV",
    "eRV",
    "s_RV",
    "e_RV",
    "Tbase",
    "JDm",
    "N",
    "Source",
    "Flag",
    "RVS",
    "e_RVS",
    "o_RVS",
    "2MASS",
    "Jmag",
    "Hmag",
    "Kmag",
    "e_Jmag",
    "e_Hmag",
    "e_Kmag",
    "Qflag",
    "RAdeg",
    "DEdeg",
    "Epoch",
    "Bmag",
    "Vmag",
    "SpType",
    "otype",
]
table

# Target Name	Spectral Type	RV	RV err

,ID,RV,eRV,s_RV,e_RV,Tbase,JDm,N,Source,Flag,...,e_Hmag,e_Kmag,Qflag,RAdeg,DEdeg,Epoch,Bmag,Vmag,SpType,otype
0,2MASSJ00155156-6759519,-30.297,0.0015,0.0037,0.0009,1018,54671,16,4706483441369292288,VAL,...,0.033,0.024,AAA,3.971087,-67.99829,J2015.5,13.20,10.92,M0.5,PM*
1,2MASSJ00182549+4401376,10.997,0.0011,0.0569,0.0152,5870,53450,14,385334196532776576,VAL,...,0.016,0.024,AAA,4.624748,44.02870,J2015.5,12.84,11.04,M3.5Ve,Flare*
2,2MASSJ00283948-0639481,-12.405,0.0023,0.0016,0.0009,310,55210,7,2430731144829585280,VAL,...,0.057,0.016,AAA,7.163016,-6.66711,J2015.5,13.71,12.23,M4.18,PM*
3,2MASSJ00532829-7242562,181.191,0.0069,0.0489,0.0282,57,55107,3,4688962964151332864,VAL,...,0.030,0.026,AAA,13.367905,-72.71567,J2015.5,17.59,15.77,~,Candidate_AGB*
4,2MASSJ00561387-7227324,155.699,0.0052,0.2159,0.0965,384,55235,5,4688993647403231232,VAL,...,0.024,0.025,AAA,14.057898,-72.45900,J2015.5,13.88,13.14,B3III,Star
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4807,TYC8979-02445-1,-10.228,0.0023,0.0320,0.0068,1587,54273,22,6054914052019278592,VAL,...,0.031,0.022,AAA,185.941940,-61.91008,J2015.5,12.45,11.33,~,*inCl
4808,TYC9096-00684-1,-0.067,0.0008,0.0609,0.0249,516,53388,6,6428149737996837888,VAL,...,0.027,0.021,AAA,294.001343,-66.40823,J2015.5,10.95,9.66,~,Star
4809,TYC9096-00983-1,-3.512,0.0010,0.0021,0.0011,516,53445,4,6428102802594226048,VAL,...,0.033,0.020,AAA,294.002747,-66.41648,J2015.5,10.76,9.97,G2/5,PM*
4810,TYC9435-01732-1,-9.288,0.0013,0.0376,0.0133,1597,53837,8,5785403789042171264,CAL1,...,0.036,0.027,AAA,213.498291,-78.89786,J2015.5,10.24,9.55,F8/G0I,PM*
4811,TYC9530-01028-1,-44.831,0.0017,0.0040,0.0016,313,53368,6,5765342963172028928,CAL1,...,0.021,0.036,AAA,259.998779,-87.24291,J2015.5,9.80,9.17,F8V,Star